<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>cdb</display-name>
	<description>Computer DataBase</description>
	<servlet>
		<servlet-name>Dashboard</servlet-name>
		<servlet-class>main.java.com.excilys.cdb.servlet.Dashboard</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AddComputer</servlet-name>
		<servlet-class>main.java.com.excilys.cdb.servlet.AddComputer</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>EditComputer</servlet-name>
		<servlet-class>main.java.com.excilys.cdb.servlet.EditComputer</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/jsp/error/404.jsp</location>
	</error-page>

	<jsp-config>
		<taglib>
			<taglib-uri>Paginator</taglib-uri>
			<taglib-location>/WEB-INF/tags/Paginator.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>